<script setup lang="ts">
import { computed, ref, watch } from 'vue';

const weight = ref(0)
const height = ref(0)
const result = ref(0)

function calBMI() {
    const m = height.value / 100
    result.value = weight.value / (m * m)
}

watch(weight,calBMI)
watch(height,calBMI)
const computedResult = computed(function(){
    const m = height.value / 100
    return result.value = weight.value / (m * m)
})
</script>

<template>
    <div style="margin: auto;width: 500px;">
    <div>
        <label for="weight">น้ำหนักตัว(kg.)</label>
        <input id="weight" type="text" v-model.number="weight">
    </div>
    <div>
        <label for="height">ส่วนสูง(cm.)</label>
        <input id="height" type="text" v-model.number="height">
    </div>
    <button @click="calBMI()">คำนวณ</button>
    <div style="text-align: center; font-size: 25pt;">BMI</div>
    <div style="text-align: center; font-size: 25pt;">{{ result.toFixed(2) }}</div>
    <div style="text-align: center; font-size: 25pt;">{{ computedResult.toFixed(2) }}</div>

    <table border="1">
        <tr :class="{header: true}">
            <th>BMI kg/m2</th>
            <th>อยู่ในเกณฑ์</th>
            <th>ภาวะเสี่ยงต่อโรค</th>
        </tr>
        <tr :class="{activate:(result<18.50)?true:false}">
            <td>น้อยกว่า 18.50</td>
            <td>นำหนักน้อย</td>
            <td>มากกว่าคนปกติ</td>
        </tr>
        <tr :class="{activate:(result>=18.50&& result< 23)?true:false}">
            <td>ระหว่าง 18.50 - 22.90 </td>
            <td>ปกติ (สุขภาพดี)</td>
            <td>เท่าคนปกติ</td>
        </tr>
        <tr :class="{activate:(result>=23&& result<25)?true:false}">
            <td>ระหว่าง 23 - 24.90</td>
            <td>ท้วม / โรคอ้วนระดับ 1</td>
            <td>อันตรายระดับ 1</td>
        </tr>
        <tr :class="{activate:(result>=25&& result<30)?true:false}">
            <td>ระหว่าง 25 - 29.90</td>
            <td>อ้วน / โรคอ้วนระดับ 2</td>
            <td>อันตรายระดับ 2</td>
        </tr>
        <tr :class="{activate:(result>30)?true:false}">
            <td>มากกว่า 30</td>
            <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
            <td>อันตรายระดับ 3</td>
        </tr>
    </table>
</div>
</template>

<style scoped>
.activate{
    background-color: rgb(152, 150, 240);
}
.header{
    background-color: aquamarine;
}
input[type='text']{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
</style>